.vs/
*.vsidx

# Ігнорувати всі файли
*

# Не ігнорувати файли з розширенням .cpp
!*.cpp

# Не ігнорувати сам файл .gitignore
!.gitignore

# Не ігнорувати директорії, щоб можна було не ігнорувати файли в них
!*/

# Ігнорувати специфічні файли та директорії Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64/